*.o                                                                 
*si/
*.obj
*.pdb
*.log
*.VC.db
*.VC.opendb
bin/*.ilk
bin/*.lib
bin/*.exp
bin/*.exe
bin/*.iobj
bin/*.ipdb

VsProject_Zipdir/zipdir_src/*
!VsProject_Zipdir/zipdir_src/*.vcxproj*

VsProject_Zipdir/zipFiletest/*
!VsProject_Zipdir/zipFiletest/*.vcxproj

*VsProject_Zipdir/zipTest/*
!VsProject_Zipdir/zipTest/*.vcxproj*



